*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/seeder_data_output.php
/Rekap Tarikan A1.csv
/Rekap PPh21 HCM reno new BENER 14012026.csv
/BUKTI POTONG A1 2025/
/storage/app/public/bupot/
/database/database.sqlite